@import '../../../assets/styles/colors';

.navbar {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $rhapsody-in-blue;
  padding: 16px 40px;
  position: fixed;
  top: 0;
  z-index: 2;

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    .asos-logo {
      max-width: 120px;
      object-fit: contain;
    }
  }

  .section-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

    .wrapper-search-input {
      width: 400px;
      display: flex;
      flex-direction: row;
      border: 1px solid $ash-to-ash;
      border-radius: 8px;
      overflow: hidden;
      background: $white;
      padding: 4px 10px 4px 0;

      .search-input {
        width: 100%;
        border-radius: 0px;
        border: none;

        input {
          background: transparent;
        }
      }

      .icon-search {
        display: flex;
        align-items: center;
        cursor: pointer;
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }
    }

    .filter-button {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 4px;
      padding: 4px 16px;
      border-radius: 6px;
      cursor: pointer;

      &:hover {
        background-color: $lazurite-blue;
      }

      span {
        color: $white;
      }
    }
  }
}


// Responsive

// Screen <= 768px
@media only screen and (max-width: 768px) {
  .navbar {
    padding: 16px 20px;

    .logo {
      .asos-logo {
        width: 100px;
      }
    }

    .section-search {
      gap: 10px;

      .wrapper-search-input {
        width: 260px;
      }

      .filter-button {
        padding: 4px;
      }
    }
  }
}

// Screen <= 520px
@media only screen and (max-width: 520px) {
  .navbar {
    padding: 8px 12px;

    .logo {
      .asos-logo {
        width: 90px;
      }
    }

    .section-search {
      gap: 6px;

      .wrapper-search-input {
        width: 240px;
      }

      .filter-button {
        padding: 4px;

        .text-filter {
          display: none;
        }
      }
    }
  }
}

// Screen <= 420px
@media only screen and (max-width: 420px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    height: 120px;
    padding: 16px 12px;

    .logo {
      height: 28px;
      width: 100%;
      justify-content: center;

      .asos-logo {
        width: 90px;
      }
    }

    .section-search {
      width: 100%;
      justify-content: space-between;
      gap: 6px;

      .wrapper-search-input {
        min-width: 85%;
        max-width: 220px;
      }

      .filter-button {
        padding: 4px;
      }
    }
  }
}
