@import '../../../assets/styles/colors';

.wrapper-search-input {
  width: 300px;
  display: flex;
  flex-direction: row;
  border: 1px solid gray;
  border-radius: 8px;
  overflow: hidden;
  background: $winters-day;
  padding: 4px 10px 4px 0;

  .search-input {
    width: 100%;
    border-radius: 0px;
    border: none;

    input {
      background: transparent;
    }
  }

  .icon-search {
    display: flex;
    align-items: center;
    cursor: pointer;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}
