@import '../../../assets/styles/colors';

.card {
  padding: 10px;
  max-width: 335px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 800ms;

  &:hover {
    transform: scale(1.05);
    border-radius: 10px;
    box-shadow: 1px -1px 61px -9px #438fc28c;
    -webkit-box-shadow: 1px -1px 61px -9px #438fc28c;
    -moz-box-shadow: 1px -1px 61px -9px #438fc28c;
  }

  .wrapper-info-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;

    .name-card {
      color: $ash-to-ash;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .info-card {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 10px;

      .info-price {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .old-price {
          text-decoration: line-through;
          color: $lazurite-blue;
        }

        .new-price {
          color: $rhapsody-in-blue;
          font-weight: 500;
          font-size: 22px;
        }
      }
    }
  }
}
