@import '../../../assets/styles/colors';

.card {
  position: relative;
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 800ms;

  &:hover {
    transform: scale(1.05);
    border-radius: 10px;
    box-shadow: 1px -1px 61px -9px #438fc28c;
    -webkit-box-shadow: 1px -1px 61px -9px #438fc28c;
    -moz-box-shadow: 1px -1px 61px -9px #438fc28c;
  }

  .image-card {
    position: relative !important;
  }

  .wrapper-info-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;

    .name-card {
      color: $ash-to-ash;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .info-card {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 10px;

      .info-price {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .old-price {
          text-decoration: line-through;
          color: $lazurite-blue;
        }

        .new-price {
          color: $rhapsody-in-blue;
          font-weight: 500;
          font-size: 22px;
        }
      }

      .brand-name {
        text-align: right;
        font-weight: 500;
      }
    }
  }
}

// Screen <= 960px
@media only screen and (max-width: 960px) {
  .card {
    box-shadow: 3px 3px 20px 2px rgba(219, 219, 219, 0.4);
    border-radius: 10px;

    .wrapper-info-card {

      .info-card {

        .info-price {

          .new-price {
            font-size: 20px;
          }
        }

        .brand-name {
          font-size: 14px;
        }
      }
    }
  }
}

// Screen <= 420px
@media only screen and (max-width: 420px) {
  .card {
    gap: 4px;

    .wrapper-info-card {
      gap: 8px;

      .name-card {
        font-size: 14px;
      }

      .info-card {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;

        .info-price {
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          .old-price {
            font-size: 12px;
          }

          .new-price {
            font-size: 16px;
          }
        }

        .brand-name {
          width: 100%;
          align-items: flex-start;
          text-align: left;
          font-size: 14px;
          margin-bottom: 12px;
        }
      }
    }
  }
}
