@import '../../../assets/styles/colors';

.button {
  width: 100%;
  border: none;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: $sea-goddess;
  color: $white;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    background-color: $lazurite-blue;
  }
}
