$american-silver: #cfcfcf;
$ash-to-ash: #4d4d4d;
$boat-anchor: #6b6b6b;
$glitter-lake-3 : #47b5ff52;
$glitter-lake: #47B5FF;
$lazurite-blue-3:#1a4e5f80;
$lazurite-blue:#1a4e5f;
$red: #ff0000;
$rhapsody-in-blue: #06283D;
$sea-goddess: #256D85;
$white: #fff;
$winters-day: #DFF6FF;
